@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body{
   font-family: Monoton;
   color:#448DF7;
   background-color: black;
}

div#result > table > tbody > tr > th {
   font:inherit;
   background-color: #448DF7;
   font-size:100%;
   color: black;
}

label#error{
   font:inherit;
   font-size:100%;
   color: red;
}
