@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
 
body{
	font-family: 'Dela Gothic One', cursive;
	color:navy;
}

div#result > table > tbody > tr > th {
	font:inherit;
	font-size:100%;
	background-color: navy;
	color: white;
}

label#error{
	font:inherit;
	font-size:100%;
	color: red;
}

